<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Photos from around the world...
              <small>
                <%= link_to "I want to add mine!", new_photo_path %>
              </small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <% @photos.each_with_index do |photo, i| %>
      <% if i%3 == 0 %>
        <!-- Photos Row -->
        <div class="row">
      <% end %>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <%= image_tag(photo.file.url(:medium), class: "img-responsive") %>
        </a>
          <h4>
            <%= photo.user.name %>
          </h4>
      </div>
      <% if i%3 == 2 || i == (@photos.length-1) %>
        </div>
        <!-- /.row -->
      <% end %>
    <% end %>

    <%= paginate @photos, :theme => 'twitter-bootstrap-3' %>
    <%= page_entries_info @photos, :theme => 'twitter-bootstrap-3' %>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; CTO Labs 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
