<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTO Labs</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>

    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'CTO Labs', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <% if current_user %>
          <ul class="nav navbar-nav pull-right">
            <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
  	  <li><%= link_to 'Login with Facebook', '/auth/facebook' %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  
    <% if current_user %>
      <%= yield %>
    <% else %>
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Authenticate via one of the social networks to get started.</p>
      </div>
    <% end %>
  </div>
  
  </body>
</html>
